body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: sans-serif;
    background-color: rgb(255, 182, 193);
}

.btn {
    background-color: rgb(248, 131, 121);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px 40px;
    color: #000;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: orangered;
    border-radius: 50%;
    transition: width 1s, height 1s;
}

.btn:hover::before {
    width: 300px;
    height: 300px;
}